<div class="row">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Recipe Details: </label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputDetails" placeholder="Please step by step instructions" style="height:200px;">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Ingredients</label>
	    <div class="col-sm-10">
	      <select name="cars" multiple class="form-control">
			  <option value="volvo">Volvo</option>
			</select>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Submit new Recipe</button>
	    </div>
	  </div>
	</form>
</div>