<div class="jumbotron">
        <div class="page-header">
          <h1>Hello, Cook!</br> 
          <small>You are one click away from the perfect recipe</small></h1>
        </div>
        <p></p>
      </div>
      <div class="page-header"></div>
      <div class="btn-toolbar center-block text-center col-sm-12">
        <a class="btn btn-primary btn-lg" href="#/register" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add A Recipe</a>
        <a class="btn btn-success btn-lg" href="#/listRecipes" role="button"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> View Recipes</a>
        <a class="btn btn-primary btn-lg" href="#/register" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Ingredients</a>
         <a class="btn btn-primary btn-lg" href="#/createrecipe" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create tags</a>
        <a class="btn btn-info btn-lg" href="#/credit" role="button"><span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span> Credit page</a>
      </div>