<div class="row">
    <div class="container center">
      <form class="form-horizontal" action="login.html" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="name" class="form-control" id="" placeholder="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
</div>