<!--AUthor: Ronald Ekambi 
	this file contains list of recipes
-->
<!-- navigation bar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Hack Recipe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/createrecipe">Create Recipe</a></li>
        <li><a href="#/createtag">Create tags</a></li>
        <li><a href="#/createingredient">Create Ingredients</a></li>
        <li class="active"><a href="#/listRecipes">List Recipes<span class="sr-only">(current)</span></a></li>
        <li class="credit">
          <a href="#/credit">credit</a>
        </li>
      </ul>
     <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="query" placeholder="filter by tag or ingredients">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://ronaldekambi.ca/">About Creator</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="col-sm-6">
    	<h2>LIST OF recipes</h2>
    </div>
    <div class="text-right col-sm-6">
		<a href="#/"><button class="btn btn-default"> <span class="glyphicon glyphicon-home"></span> Home</button></a>
	</div>
	<div class="col-sm-12">
	<!--loops through the list that was saved in Scope.list in the listofrecipe controller -->
		<div class="bg-primary" ng-repeat="recipe in list | filter: query" style="padding:20px;margin-top: 5px;">
			<!--outputs title of each recipe-->
				{{recipe.RecipeTitle}}
			<button type="button" class="btn btn-danger pull-right" style="margin-right:5px;">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
			</button>
			<!--redirects app to specific url match the title that was clicked-->
			<a href="#/recipesDetails/{{list.indexOf(recipe)}}">
			<button type="button" class="btn btn-primary pull-right" style="margin-right:5px;">
				 <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			</button>
			</a>
			<button type="button" class="btn btn-warning pull-right" style="margin-right:5px;">
				 <i class="fa fa-pencil-square" aria-hidden="true"></i>
			</button>
			
			<!--through ng-repeat, it loops through the tags in recipe and outputs each of them-->
			<span class="text-info">[
				<span ng-repeat="tag in recipe.tags" >
					<span ng-if="!$first">,</span>
					{{tag.text}}
				</span>
			]</span>
			<!--through ng-repeat, it loops through the ingredients in recipe and outputs each of them-->
			<span class="text-info">{
				<span ng-repeat="ingredient in recipe.ingredients" >
					<span ng-if="!$first">,</span>
					{{ingredient.text}}
				</span>
			}</span>
			
		</div>
	</div>
</div>